<h1>
    {{doc.codeName}} {{doc.outputPath}}
</h1>

{%- if doc.params %}
<h2>
    Params
</h2>
<ul>
    {%- for param in doc.params %}
        <li>
            <strong>{{param.name}}</strong>
            { {{param.typeList}} } - {{param.description}}
        </li>
    {%- endfor %}
</ul>
{%- endif %}

{%- if doc.returns %}
<h2>
    Returns
</h2>
<p>
    { {{doc.returns.typeList}} - {{doc.returns.description}} }
</p>
{%- endif %}

{%- if doc.examples %}
<h2>
    Examples
</h2>
<ul>
    {%- for example in doc.examples %}
        <li>
            <h3>
                {{example.name}}
            </h3>

            {%- for fileName, file in example.files %}
                <p>
                    {{fileName}}
                </p>

                {%- if file.webpack %}
                    <pre>
                        {{file.webpack.fileContents}}
                    </pre>
                {%- endif %}
            {%- endfor %}
        </li>
    {%- endfor %}
</ul>
{%- endif %}
